<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Welcome</title>
</head>
<body>
<div class="header-container">
    <h1 style="text-align: center; font-size: 64px;">Welcome</h1>
</div>
<div class="outer-form">
    <div class="button-group">
        <input type=button onClick="parent.location='/users/login'"
               value='Login'>
        <input type=button onClick="parent.location='/users/register'"
               value='Register'>
    </div>
</div>
<div class="outer-bottom-container">

    <div class="bottom-container">

    </div>

</div>
</body>
</html>