
table {
  border-collapse: collapse;
  width: 50%;
}

table th {
  text-align: center;
  border: 2px solid black;
  padding: 4px 30px 4px 8px;
  background-color: #5a8f8e;
}
table td {
  text-align: center;
  border: 2px solid black;
}

h1 {
text-align: center;
}

td:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.2);
}
